/* Container
------------------------------------------------------*/
#page-container{margin:0 auto;}
.page-container-inner{ background-image:url(../images/bg-container.png); float:left;}
.bottom-header{width:940px;border-bottom:1px solid #969696; float:left;height: 29px;margin-bottom: 15px;}
#footer{width: 940px;}

/*   index frame
----------------------------------------------------*/
#index_left{margin-top: 15px; }
#index_right{margin-top: 15px;}
#left_l{width: 272px;float: left;}
#left_r{width:402px;margin-left: 7px;float: left; }
.left_b{border: 1px solid #ccc;margin-bottom: 15px;}
/*---left_l---*/
.container_l{border: 1px solid #ccc;margin-bottom: 8px;float: left;}
.container_l p.title_l{display: block;float: left;padding:2px 5px 5px 8px;font-size:18px;line-height:22px;color:#ff4e00;margin: 0;border-bottom: 1px dashed #ccc;}
a.more{display: block;float: right;padding-right: 10px;font-size: 10px;color:#ff4e00;}
.container_l ul.content{list-style:none;float: left;margin:10px; }
.container_l ul.content li{line-height: 25px;background:url(../images/ico-2.gif) center left  no-repeat;padding-left:10px;}
.container_l ul.content li a:hover{text-decoration: underline;}
.container_l ul.content li .time{float: right;}
/*-----left_r------*/
legend{width:30%;padding:2px 10px;font-size:18px;line-height:22px;box-shadow:2px 2px 1px #666;border-radius:20px;}
legend a{color:#ff4e00;text-align: center;display: block;}
legend.consult{color:#ff4e00;width: 80%;}
.container_r{padding:15px;float: left;margin:0 0 8px 0;border: 1px solid #ccc;border-radius:5px;width: 90%;}
 .container_r ul{list-style: none;margin: 0;}
 .container_r ul li{line-height: 25px;background:url(../images/ico-2.gif) center left  no-repeat;padding-left:10px;}
 .container_r ul li a:hover{text-decoration: underline;}
.container_r p.brief{padding: 0;text-indent: 2em;margin: 0;}
.container_r a.institution{padding: 0 10px; text-align: center;display: block;float: left;line-height: 22px;color:#778087}
.container_r a.institution:hover{text-decoration: underline;}
/*-----index_r-----*/
 .container_right{border: 1px solid #ccc;float: left;margin-bottom: 8px;margin-left: 0;}
.container_right p.title_rll{display: block;float: left;padding:2px 5px 5px 8px;font-size:18px;line-height:22px;color:#ff4e00;margin: 0;border-bottom: 1px dashed #ccc;}
.container_right ul.r_content{list-style:none;float: left;margin:10px; }
.container_right ul.r_content li{line-height: 25px;background:url(../images/ico-2.gif) center left  no-repeat;padding-left:10px;}
.container_right ul.r_content li a:hover{text-decoration: underline;}
.container_right ul.r_content li .time{float: right;}

/*  Homepage Slider
------------------------------------------------------*/
#slideshow{
    background-color:#202020;
    height:190px;
    float:left;
}
#slideshow-threed{
    width:920px;
    height:283px;
    margin:15px 0px 0px 0px;
    float:left;
}
#box-nav-slider{
    background-image:url(../images/strip-line.gif);
    background-position:bottom;
    background-repeat:repeat-x;
    height:17px;
    position: relative;
    float: left;
}
#slideshow-navigation a{
    background: url(../images/slide.png) no-repeat scroll 50% 50%;
    display:block;
    float:left;
    font-size:0px;
    width:9px;
    height:9px;
    margin:2px;
    outline-style:none;
    outline-width:medium;
    padding:2px;
}
#slideshow-navigation{float:right; padding-right:10px}
#slideshow-navigation .activeSlide {background: url(../images/slide.png) no-repeat scroll 0% 50%;}
.slidehalf { margin-top:0px; margin-right:20px; float:left;} /* Editable Slider Image Position */
.slidehalf2 { margin-top:0px; margin-right:0px; float:left;} /* Editable Slider Image Position */
.slide-text h7{color:#FFF;display: block;line-height:24px;text-align: center;width: 270px;}
.slide-text{}
.slide-text p{font-size:12px; color:#b5b5b5; line-height:22px; padding-right:20px;}
.slide-text a.read_more{color:#ff4e00; font-size:12px;}
.flash-img {text-align:center; display:block; margin:100px auto 0 auto;}


/* Content
------------------------------------------------------*/
#content{width:950px; padding:20px 0px 20px 0px; float:left;}
.imgleft-box{float:left; border:solid 1px #cfd4c3; padding:6px; margin-right:15px; background-color:#f9fbf4;}
.imgright-box{float:right; border:solid 1px #cfd4c3; padding:6px; margin-left:15px; background-color:#f9fbf4;}

.orange{color:#ff4e00;}


/* Featured Project */
#featured{margin-top:3px; height:380px;}
.bg-featured{background-image:url(../images/strip-line.gif); background-repeat:repeat; width:274px; height:157px; padding:5px 18px;}
.featured-text{padding-top:5px;}


/* Teacher */
a.abtn{display:block;height:130px;width:17px;overflow:hidden;background:url(../images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{float:right;background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.scrolllist{width:679px; height: 205px;float:left;}
.scrolllist .imglist_w{width:645px;height:205px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;left:0px;top:0px;list-style: none;padding: 0;margin: 0}
.scrolllist .imglist_w li{width:130px;float:left;padding:0;z-index: 999;}
.scrolllist .imglist_w li img{padding:2px;border:solid 1px #ddd;}
.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist .imglist_w li p{line-height:24px;overflow:hidden;float:left;padding: 0 5px;width: 110px;text-align:center;}

/* Footer
------------------------------------------------------*/
#footer{height:142px; font-size:11px; margin:0px auto; color:#686868; background-color:#202020; line-height:18px;}
#footer a, #footer a:visited{color:#686868; text-decoration:none;}
#footer p{font-size:11px; color:#686868;text-indent:0em;}
#footer1{margin-top:21px;}
#footer2{margin-top:21px;}
#footer2 ul{margin:0px; padding:0px; font-size:11px; list-style-type:none;}
#footer2 ul li{list-style:none;	border-bottom:solid 1px #686868; line-height:24px; text-align:right;}
#footer3{margin-top:21px;}
#footer3 h3{color:#686868;}
.twitter{padding-right:5px; float:left;}

#social span{background:url(../images/social-icon.jpg); float:left; width:16px; height:16px; margin:4px 5px 0 0;}
#fb-icon span{background-position:0px 0;}
#fb-icon a:hover span{background-position: 0px -16px;}
#twit-icon span{background-position:-16px 0;}
#twit-icon a:hover span{background-position: -16px -16px;}
#flic-icon span{background-position:-32px 0;}
#flic-icon a:hover span{background-position: -32px -16px;}
#rss-icon span{background-position:-48px 0;}
#rss-icon a:hover span{background-position: -48px -16px;}
















/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#title div.title {
	font-size:2em;
	color:#111;
	letter-spacing: .1em;
}

#title span.subtitle {
	font-size:1.5em;
	color: #999;
	letter-spacing: .1em;
	margin-bottom:0.75em;
}

#menu ul {
	margin:0 0 0 0;
	padding: 0.5em;
	font-weight: bold;
	background: #BACE87;
	border-top: 2px solid #658A16;
	border-bottom: 2px solid #658A16;
}
/*-----------------menuManage-----------------*/
#menu li {display: inline;}

#menu ul a {
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}
.content_accordion .content{
    padding: 0px;
}
#menu a:hover {background: #658A16;}
button{
    clear: none;
    height: 25px;
    margin: 0px;
    margin-left: 13px;
    line-height: 10px;
    float: left;
}
button a.amodify{
    color: #fff;
    font-weight: normal;
}
.box .block input.order_txt{float:left;width: 20px;margin-bottom: 0px;padding: 0px;}
input#Mname{
    border: none;
    background-color:#DAE0E3;
    text-indent: 2em;
    line-height: 30px;
}
input.large{
    display:inline;
    border:1px solid #b5b8bb;
    background-color:#e7edef;
    width:30%;
}
.box .block input.menu{
    margin: 0px;
    float: left;
}
.box-head{height: 30px;padding: 5px;color: #fff;font-weight: bold;line-height: 30px;text-indent: 2em;}
table.menu_sec{width:100%;text-align: left;margin: 0px;}
table.menu_sec input{float: left;}
/*---------------userManage------------------*/
.flat_area ul{
    list-style-type: none;
    margin-left: 10%;
    float: left;
}
#userInfo ul li .input_info{
    background: #EEE url(../dashboard/images/grey_noise.png) repeat;
    background-color: #F2F4F6;
    height: 20px;
    border:none;
    width: 120px;
}
#userInfo ul li .input_info:hover,.input_info:focus{
    height: 18px;
    border: 1px solid #ccc;
    background-color: #090;
    width: 118px;
}
#userInfo ul li button{
   width: 100px;
    margin-top: 20px;
}

/*-------------前台文章列表--------------*/
 .maincontent .art-list{
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
    margin-bottom:9px;
     text-align: left;
}
.maincontent .art-list a:hover{
    text-decoration: underline;
    color: #4D5256;
}
.art-list a:link, a:visited, a:active{
    color: #778087;
    text-decoration: none;
}
.art-list .art-attr{
    font-size: 11px;
    font-weight:normal;
    color: #778087;
    display: block;
    -webkit-text-size-adjust: none;
    padding: 2px;
    margin-top:5px;
}

/*-------------后台首页日历-------------------*/
.ui-datepicker table{
    margin: 0 0em;
}
.calender{
    margin-left: 20%;
    margin-right:20%;
}
.box .block ul.full_width li{
    margin: 0px;
}
/*--------归档列表的样式-------------------*/
ul#documentA li{margin: 10px;}

/*--------album------*/
#album_load{
    margin: 0px;
    float: left;
    width: 920px;
}
p.albumDesc{
    width:405px;
}


