/*  Footer
------------------------------------------------------*/
.footer {padding: 30px 20px;margin-top: 30px;border-top: 1px solid #e5e5e5;background-color: #f5f5f5;}
.footer p {margin-bottom: 0;color: #777;}

/* Body and structure
-------------------------------------------------- */
body {
    position: relative;
    padding-top: 40px;
    font-family:Tahoma,Arial,Verdana;font-size:12px;margin:0 auto;;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar {
    font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    padding: 5px 0;
    margin-bottom:20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #020031; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
    background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../bootstrap/img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}

/* Subhead (other pages)
------------------------- */
.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.subhead h1 {
    font-size: 60px;
}
.subhead p {
    margin-bottom: 20px;
}
.subhead .navbar {
    display: none;
}
