/*----------------------------------------------------
         Agivee - CSS - Exclusively for IE6
------------------------------------------------------*/


/* Search styling */
#search-box{padding-bottom:4px; float:left; height:23px;}
#search{float:left; width:auto;}

/* Blog */
.blog-posted-inner{background-image:url(../images/strip-line.gif); background-repeat:repeat; width:636px; padding:5px; margin:5px 0px 14px 0px; font-size:11px; float:left;}

/* Bottom Box */
#bottom-box{width:908px; margin-top:5px; padding:5px 5px 0px 5px; border:1px solid #e5e6e2; float:left;}
#bottom-box-inner{background-image:url(../images/strip-line.gif); background-repeat:repeat; width:908px; line-height:16px; float:left;}
