/*----------------------------------------------------
                 Agivee - CSS File
------------------------------------------------------*/


/* Page Title
------------------------------------------------------*/
#page-title{width:920px; height:99px; border-bottom:1px solid #969696; float:left}
.title{width:200px; float:left; margin:30px 0px 0px 28px;}
.title h1,h2{color:#ff4e00;}
.desc{width:640px; background-image:url(../images/strip-line.gif); padding:10px; margin-top:20px; line-height:18px; float:left;}


/* Content
------------------------------------------------------*/
#content-inner{width:920px; padding:20px 0px 20px 0px; float:left;}
#content-inner-full{width:920px; padding:28px 0px 20px 0px; float:left;}
#content-left{float:left; width:602px;}
#side-box{float:left; width:284px; margin-left:34px;}
#side-map{float:left; width:493px; margin-left:34px;}
#side-map h2{padding-bottom:4px;}
#side-box h2{color:#ff4e00; padding-bottom:0px;}
.maincontent{padding-bottom:18px;height:auto;width:98%}
.maincontent h4{margin-bottom:2px;}

ul.news-list {margin:0px; padding:0px; list-style-type:none;}
ul.news-list li {line-height:18px; padding:10px 0px; border-bottom:1px solid #ccc;}
ul.news-list li a {text-decoration:none;}
ul.news-list li a:hover {text-decoration:underline;}

.service-item{width:286px; float:left; padding-bottom:20px;}
.spacer{width:30px; float:left; display:block; height:100%;}
.services-icon{width:77px; height:140px; float:left;}


/* Blog
------------------------------------------------------*/
.blog-post h2{color:#565656; margin:5px 0px 0px 0px;}
.blog-post h2 a, .blog-post h2 a:visited{margin-bottom:0px;color:  #FF4E00;}
.blog-post h2 a:hover{margin-bottom:0px;color:#FF9566;}
.digest.blog-post{margin-bottom:35px;height: 125px;display: block;}
.blog-post{margin-bottom:35px;text-align: left;}
.blog-posted{background-image:url(../images/strip-line.gif); background-repeat:repeat; width:443px; padding:5px; margin:5px 0px 5px 0px; font-size:11px; float:left;}
.blog-posted-inner{background-image:url(../images/strip-line.gif); background-repeat:repeat; width:602px; padding:5px; margin:5px 0px 14px 0px; font-size:11px; float:left;}
.blog-posted, .blog-posted-inner{color:#565656;}
.blog-posted a, .blog-posted a:visited, .blog-posted-inner a, .blog-posted-inner a:visited{color:#565656;}
.blog-pagination{height: 30px;background-color: #fff;margin:10px 10px 30px 0px;text-align: left;float:right;}
.blog-button-page{border: 1px solid #e4e4e4;background-color:transparent;color:#000;font: normal 11px/28px Verdana;margin-left:4px!important;padding: 6px;cursor: pointer;}
.blog-button-page-selected{border: 1px solid #e4e4e4;background-color: #e4e4e4;color:#ff4e00;font: normal 11px/28px Verdana;margin-left:4px!important;padding: 6px;cursor:default;}
.blog-pagination a, .blog-pagination a:visited{color:#414141;}
.blog-pagination a:hover{text-decoration: underline;}

#recentPostList{width:602px; float:left; padding-bottom:30px;}
#related-post-title{padding:3px 0px 4px 0px;  height:20px; font-weight:bold; color:#2f87aa; border-bottom:1px solid #969696;}
.related-item-spacer{width:10px; float:left;}
.related-item-wrapper{font-size:11px;width:280px;padding:8px 8px 8px 8px;float:left;color:#adacac;cursor:pointer;}
.related-item-wrapper:hover{background-color:#f4f4f4; color:#6f6f6f;}
.related-item-wrapper h4{color:#2f87aa;}
.related-item-wrapper img{width:65px; height:65px;}

/* 评论列表 */
#commentList{width:602px; float:left; padding-bottom:30px;}
#commentList-title{padding:3px 0px 4px 0px;  height:20px; font-weight:bold; color:#2f87aa; border-bottom:1px solid #969696;}
.commentList-item-wrapper{font-size:11px;width: 98%;padding:8px 8px 8px 8px;float:left;color:#adacac;cursor:pointer;}
.commentList-item-wrapper:hover{background-color:#f4f4f4; color:#6f6f6f;}
.commentList-item-wrapper h4{color:#2f87aa;}

/* 发表评论 */
#comment{width:602px; float:left; padding-bottom:30px;}
#comment-title{padding:3px 0px 4px 0px;  height:20px;font-weight:bold; color:#2f87aa; border-bottom:1px solid #969696;}
.comment-item-wrapper{font-size:11px;width: 98%;padding:8px 8px 8px 8px;float:left;color:#adacac;cursor:pointer;}

#sponsors{height:118px;}
.banner-img{padding:0px 12px;}

ul.blog-list {margin:0px; padding:0px; list-style-type:none;}
ul.blog-list li {background-image:url(../images/arrow.gif); background-position:0px 12px; background-repeat:no-repeat; padding:5px 0px 5px 17px; line-height:18px;  border-bottom:1px solid #ccc;}
ul.blog-list li a, ul.blog-list li a:visited {text-decoration:none; color:#6f6f6f;}
ul.blog-list li a:hover {text-decoration:underline;}


/* Portfolio
------------------------------------------------------*/
.main-portfolio p{padding-bottom:25px;}
.portfolio-box{width:442px; background-color:#f2f2f2;float:left; margin-bottom:37px;}
.portfolio-box-bottom{width:442px; background-color:#f2f2f2;float:left; margin-bottom:17px;}
.spacer-pf{width:36px; float:left; display:block; height:100%;}
.pf-content{padding:18px; font-size:11px; float:left;}
.pf-content img{border:1px solid #ccc; margin-right:15px; float:left;}
.pf-gall{width:200px; border:1px solid #ccc; padding:5px; float:left; margin-right:18px; margin-bottom:30px;}
.pf-gall-nomargin{width:200px; border:1px solid #ccc; padding:5px; margin-bottom:30px; float:left;}
.pf-content p{font-size:11px;}
.pf-title{background-image:url(../images/strip-line2.gif); background-repeat:repeat; width:422px; font-size:16px; color:#ff4e00; padding:10px; float:left;}

.portfolio-pagination{
height: 30px;
background-color: #fff;
margin:0px 0px 30px 0px;
text-align: left;
float:left;
}
.portfolio-button-page{
border: 1px solid #e4e4e4;
background-color:transparent;
font: normal 11px/28px Verdana; 
padding: 6px 15px 6px 15px;
margin-right:5px;
cursor: pointer;
}
.portfolio-pagination a, .portfolio-pagination a:visited{color:#414141;}
.portfolio-pagination a:hover{text-decoration: underline;}

/* Contact
------------------------------------------------------*/
#content-map{float:left; width:393px; padding-bottom:30px;}
form {margin:0; padding:0;}
.form-row{width:127px; float:left; margin-right:4px;}
.form-row-textarea{width:393px; float:left; padding:10px 0px;}
.input-container-last{margin-right:0px;}
#contactFormArea {width:393px; color:#6b6b6b;}
.input{background-color: #ffffff; border:1px solid #d9d9d9; width:112px; margin:8px 16px 8px 0;padding:3px 5px 3px 5px; color:#6b6b6b;}
.input2{background-color: #ffffff; border:1px solid #d9d9d9; width:374px; padding:3px 5px 3px 5px; color:#6b6b6b;}
.input-submit {background-repeat:no-repeat; padding:0px; margin:7px 7px 0px 0px; border:1px solid #000; width:73px; height:21px; cursor:pointer; float:right;}
.textarea {background-color: #ffffff; border:1px solid #d9d9d9; width:374px; padding:5px 5px 5px 5px; margin:0px; color:#6b6b6b;}
.google-map {width:493px; height:336px; padding-bottom:10px;}
.google-map2 {width:281px; height:224px; padding-bottom:10px;}
