body{font-family:Tahoma,Arial,Verdana;font-size:12px;margin:0 auto;padding:0;}
a{color:#000;}

/*  Homepage Slider
------------------------------------------------------*/
#slideshow{margin-bottom: 0;height: 195px;}
.slidehalf { margin-top:0px; margin-right:20px; float:left;} /* Editable Slider Image Position */
.slidehalf2 { margin-top:0px; margin-right:0px; float:left;} /* Editable Slider Image Position */
.slide-text .PicTitle{text-align:center;padding:5px 0;background-color:#999;text-decoration: none;}
.slide-text{width: 270px;}
.slide-text .PicTitle a{color:#fff;text-align:center;text-decoration: none;}
.slide-text .PicTitle a:hover{color:#ccc;}
.slide-text p{font-size:12px; color:#b5b5b5; line-height:22px; padding-right:20px;}
.slide-text a.read_more{color:#ff4e00; font-size:12px;}
.flash-img {text-align:center; display:block; margin:100px auto 0 auto;}

/*  友情链接
------------------------------------------------------*/
#friLnk{display:block;margin:10px 0 0 0;padding:0;}
#friLnk li.friLnkT{padding-left:56px;width:894px;height: 25px;line-height:25px;background:url(../images/friLnk.png) 2px 13px no-repeat;}

/*  Footer
------------------------------------------------------*/
.footer {padding: 30px 20px;margin-top: 30px;border-top: 1px solid #e5e5e5;background-color: #f5f5f5;}
.footer p {margin-bottom: 0;color: #777;}

/* Mini layout previews
-------------------------------------------------- */
.mini-layout {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout,
.mini-layout .mini-layout-body,
.mini-layout.fluid .mini-layout-sidebar {
    height: 300px;
}
.mini-layout {
    margin-bottom: 20px;
    padding: 9px;
}
.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mini-layout .mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 70%;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
    float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 20%;
}
.mini-layout.fluid .mini-layout-body {
    width: 77.5%;
    margin-left: 2.5%;
}

/*-----teacher名师风采1------*/
a.abtn{display:block;height:130px;width:17px;overflow:hidden;background:url(../images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.scrolllist{width:800px; height: 205px}
.scrolllist .imglist_w{width:764px;height:205px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;top:0px;list-style: none;padding: 0;margin: 0}
.scrolllist .imglist_w li{width:130px;float:left;padding:2px 4px 0 9px;z-index: 999;}
.scrolllist .imglist_w li img{padding:2px;border:solid 1px #ddd;}
.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist .imglist_w li p{line-height:24px;overflow:hidden;float:left;padding: 0;margin:0;width: 126px;text-align:center;text-indent:0;}

/*-----teacher名师风采2------*/
.scrolllist_index{width:1000px; height: 205px;}
.scrolllist_index .imglist_w{width:964px;height:205px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist_index .imglist_w ul.imglist{width:20000px;position:absolute;top:0px;list-style: none;padding: 0;margin: 0}
.scrolllist_index .imglist_w li{width:126px;float:left;padding:1px 0px 0 0px;z-index: 999;}
.scrolllist_index .imglist_w li img{padding:1px;border:solid 0px #ddd;}
.scrolllist_index .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist_index .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist_index .imglist_w li p{line-height:24px;overflow:hidden;float:left;padding: 0;margin:0;width: 126px;text-align:center;text-indent:0;}

/*-----------研究所-----------*/
#banner{margin:0 0 10px 0;border: 1px solid #ccc;}

/*----摘要图片----*/
.imgleft{float:left; padding:5px 12px 0px 0px;width: 134px;height: 134px;}
.imgright{float:right; padding-left:12px;}

/*---about页面----*/
.imgabout{float: left;display: block;margin:0 10px 10px 0;}

/* Header
------------------------------------------------------*/
#top-header{height:106px; background:url(../images/strip-line.gif) top repeat-x;}
.logo{padding:35px 0px 0px 20px;display:block;}
.logo a img{display:block;float: left;}
.logo a h1{display:block;float: left;margin-top:6px;text-decoration: none;}

/*------------- 相册 ---------------*/
a{text-decoration:none;color:#888;}
a:hover{text-decoration:none;color:#7594B3;}

.clear:after{clear:both;display:block;visibility:hidden;height:0;overflow:hidden;content:".";}
.clear{zoom:1;}

.arr,.arr span,.page a{background:url(../images/abg.png) no-repeat 999px 999px;}
.img{background:url(../images/imgbg.png) no-repeat 999px 999px;}

.list li,.block{box-shadow:0 2px 3px -2px rgba(0,0,0,0.3);-webkit-box-shadow:0 2px 3px -2px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px -2px rgba(0,0,0,0.3);-o-box-shadow:0 2px 3px -2px rgba(0,0,0,0.3);*border:1px solid #ededed;*border-width:0 1px 1px;*border-bottom-color:#e0e0e0;}
.list li:hover{box-shadow:0 2px 3px -2px rgba(0,0,0,0.6);-webkit-box-shadow:0 2px 3px -2px rgba(0,0,0,0.6);-moz-box-shadow:0 2px 3px -2px rgba(0,0,0,0.6);-o-box-shadow:0 2px 3px -2px rgba(0,0,0,0.6);}

.list{overflow:hidden;zoom:1;}
.list ul{margin:-21px 0 0 -21px;padding:1px 2px 3px;position:relative;}
.list li,.link{float:left;width:230px;overflow:hidden;}
.link{position:relative;display:block;background:#fff;cursor:pointer;}
.img{display:block;position:relative;width:100%;height:170px;overflow:hidden;cursor:pointer;}
.img img{display:block;width:115%;}
.arr{position:absolute;top:0;left:0;width:100%;height:100%;background-position:999px 999px;}
.arr span{position:absolute;right:18px;bottom:0;width:16px;height:8px;overflow:hidden;background-position:0 0;cursor:pointer;}
.text{display:block;width:200px;overflow:hidden;margin:15px auto 10px;line-height:21px;color:#aaa;cursor:pointer;word-wrap:break-word;word-break:break-all;}
.text strong,.text em{display:block;font-weight:normal;}
.text em img{width:115%;}
.text strong{margin:0 0 4px;color:#606060;}
.link:hover .text strong{color:#333;}
.link:hover .text em{color:#999}

.music .img{background-position:0 0;}
.video .img{background-position:-255px 0;}
.article .text{}

