<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" depends-on="userDao">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="shiroCacheManager" />
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="cn.edu.sdufe.cms.security.ShiroDbRealm">
        <property name="userManager" ref="userManager"/>
        <property name="authorizationCachingEnabled" value="true"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/dashboard/index"/>
        <property name="unauthorizedUrl" value="/login?unauthorized=true"/>
        <property name="filterChainDefinitions">
            <value>
                /login = authc
                /logout = logout
                /static/** = anon
                /dashboard** = user
                /account** = user
                <!-- 文章管理 -->
                /article/create = perms["article:create"]
                /article/edit/** = perms["article:edit"]
                /article/save/** = perms["article:save"]
                /article/delete/** = perms["article:delete"]
                /article/listAll = perms["article:list"]
                <!-- 评论管理 -->
                /comment/edit/** = perms["comment:edit"]
                /comment/save/** = perms["comment:save"]
                /comment/delete/** = perms["comment:delete"]
                /comment/listAll = perms["comment:list"]
                <!-- 用户管理 -->
                /account/create = perms["user:create"]
                /account/edit/** = perms["user:edit"]
                /account/save/** = perms["user:save"]
                /account/delete/** = perms["user:delete"]
                /account/listAll = perms["user:list"]
                <!-- 相册管理 -->
                /gallery/create = perms["gallery:create"]
                /gallery/edit/** = perms["gallery:edit"]
                /gallery/save/** = perms["gallery:save"]
                /gallery/delete/** = perms["gallery:delete"]
                /gallery/listAll = perms["gallery:list"]
                <!-- 菜单管理 -->
                /category**= perms["category:list"]
                <!-- 友情链接管理 -->
                /link** = perms["link:list"]
            </value>
        </property>
    </bean>

    <!-- 用户授权信息Cache-->
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="shiroEhcacheManager" />
    </bean>
    <bean id="shiroEhcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:/security/ehcache-shiro.xml" />
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>-->
</beans>