<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-lazy-init="true">

    <description>Shiro安全配置</description>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager" ref="shiroEhcacheManager"/>
    </bean>

    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="cn.im47.cms.security.ShiroDbRealm" depends-on="userMapper,groupMapper">
        <property name="userManager" ref="userManagerImpl"/>
    </bean>

    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/dashboard/index"/>
        <property name="unauthorizedUrl" value="/login?unauthorized=true"/>
        <property name="filterChainDefinitions">
            <value>
                /login = authc
                /logout = logout
                /static/** = anon
                /dashboard/** = user
                /account/** = user
                <!-- 文章管理 -->
                /article/create = perms["article:create"]
                /article/update/** = perms["article:update"]
                /article/delete/** = perms["article:save"]
                /article/allow/** = perms["article:save"]
                /article/top/** = perms["article:save"]
                /article/audit/** = perms["article:save"]
                /article/batchDelete/** = perms["article:save"]
                /article/batchAudit/** = perms["article:save"]
                /article/listAll = perms["article:list"]
                <!-- 归档管理 -->
                /archive/save/** = perms["article:list"]
                <!-- 用户管理 -->
                /account/user/create = perms["user:create"]
                /account/user/update/** = perms["user:update"]
                /account/user/delete/** = perms["user:save"]
                /account/user/audit/** = perms["user:save"]
                /account/user/batchDelete/** = perms["user:save"]
                /account/user/batchAudit/** = perms["user:save"]
                /account/user/listAll = perms["user:list"]
                <!-- 相册管理 -->
                /gallery/create = perms["gallery:create"]
                /gallery/update/** = perms["gallery:update"]
                /gallery/showIndex/** = perms["gallery:save"]
                /gallery/delete/** = perms["gallery:save"]
                /gallery/batchDelete/** = perms["gallery:save"]
                /gallery/listAll = perms["gallery:list"]
                <!-- 菜单管理 -->
                /category/create = perms["category:create"]
                /category/update/** = perms["category:update"]
                /category/**= perms["category:list"]
                <!-- 友情链接管理 -->
                /link/create = perms["link:create"]
                /link/update/** = perms["link:update"]
                /link/** = perms["link:list"]
                <!-- 研究所管理 -->
                /agency/create = perms["agency:create"]
                /agency/update/** = perms["agency:update"]
                /agency/** = perms["agency:list"]
                <!-- 老师管理 -->
                /teacher/create = perms["teacher:create"]
                /teacher/update/** = perms["teacher:update"]
                /teacher/** = perms["teacher:list"]
            </value>
        </property>
    </bean>

    <!-- 用户授权/认证信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:security/ehcache-shiro.xml"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>