/* Global
------------------------------------------------------*/
html,body{height:100%}
body{
    font-family:Tahoma, Arial, Verdana;
    font-size:12px;
    margin:0 auto;
    padding:0;
    background:url(images/bg-body.jpg) repeat;
    color:#6f6f6f;
    height:100%;
}
/* Container
------------------------------------------------------*/
#page-container{width:1018px; margin:0 auto;}
.page-container-inner{width:1018px; background-image:url(images/bg-container1018.png);}
/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#title div.title {
	font-size:2em;
	color:#111;
	letter-spacing: .1em;
}

#title span.subtitle {
	font-size:1.5em;
	color: #999;
	letter-spacing: .1em;
	margin-bottom:0.75em;
}

#menu ul {
	margin:0 0 0 0;
	padding: 0.5em;
	font-weight: bold;
	background: #BACE87;
	border-top: 2px solid #658A16;
	border-bottom: 2px solid #658A16;
}
/*-----------------menuManage-----------------*/
#menu li {display: inline;}

#menu ul a {
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}
.content_accordion .content{
    padding: 0px;
}
#menu a:hover {background: #658A16;}
button{
    clear: none;
    height: 25px;
    margin: 0px;
    margin-left: 13px;
    line-height: 10px;
    float: left;
}
button a.amodify{
    color: #fff;
    font-weight: normal;
}
.box .block input.order_txt{float:left;width: 20px;margin-bottom: 0px;padding: 0px;}
input#Mname{
    border: none;
    background-color:#DAE0E3;
    text-indent: 2em;
    line-height: 30px;
}
input.large{
    display:inline;
    border:1px solid #b5b8bb;
    background-color:#e7edef;
    width:30%;
}
.box .block input.menu{
    margin: 0px;
    float: left;
}
.box-head{height: 30px;padding: 5px;color: #fff;font-weight: bold;line-height: 30px;text-indent: 2em;}
table.menu_sec{width:100%;text-align: left;margin: 0px;}
table.menu_sec input{float: left;}
/*---------------userManage------------------*/
.flat_area ul{
    list-style-type: none;
    margin-left: 10%;
    float: left;
}
#userInfo ul li .input_info{
    background: #EEE url(dashboard/images/grey_noise.png) repeat;
    background-color: #F2F4F6;
    height: 20px;
    border:none;
    width: 120px;
}
#userInfo ul li .input_info:hover,.input_info:focus{
    height: 18px;
    border: 1px solid #ccc;
    background-color: #090;
    width: 118px;
}
#userInfo ul li button{
   width: 100px;
    margin-top: 20px;
}

/*-------------前台文章列表--------------*/
 .maincontent .art-list{
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
    margin-bottom:9px;
     text-align: left;
}
.maincontent .art-list a{color: #666;text-decoration: none;}
.maincontent .art-list a:hover{
    text-decoration: underline;
    color: #999;
}

.maincontent .art-list .art-attr{
    font-size: 11px;
    font-weight:normal;
    color: #aaa;
    display: block;
    -webkit-text-size-adjust: none;
    padding: 2px;
    margin-top:5px;
}

/*-------------后台首页日历-------------------*/
.ui-datepicker table{
    margin: 0 0em;
}
.calender{
    margin-left: 20%;
    margin-right:20%;
}
.box .block ul.full_width li{
    margin: 0px;
}
/*--------归档列表的样式-------------------*/
ul#documentA li{margin: 10px;}

/*--------album------*/
#album_load{
    margin: 0px;
    float: left;
    width: 920px;
}
p.albumDesc{
    width:405px;
}

/*--公告字体颜色--*/
ul li a.announce{color:#6F6F6F}
/*-----teacher名师风采------*/
a.abtn{display:block;height:130px;width:17px;overflow:hidden;background:url(images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{float:right;background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.scrolllist{width:750px; height: 205px;float:left;}
.scrolllist .imglist_w{width:716px;height:205px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;top:0px;list-style: none;padding: 0;margin: 0}
.scrolllist .imglist_w li{width:130px;float:left;padding:2px 4px 0 9px;z-index: 999;}
.scrolllist .imglist_w li img{padding:2px;border:solid 1px #ddd;}
.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist .imglist_w li p{line-height:24px;overflow:hidden;float:left;padding: 0;margin:0;width: 126px;text-align:center;text-indent:0;}
 /*----友情链接---------*/
#friLnk{
    width: 950px;
    list-style: none;
    display: block;
    margin:10px 0;
    padding:0;
    height: 51px;
    overflow: hidden;
}
#friLnk li.friLnkT{padding-left:56px;width:894px;height: 25px;line-height:25px;color: #444;font-size: 14px;background: url(images/friLnk.png) no-repeat center;}
#friLnk li.fri{padding:2px 5px;display: block;float: left;}
#friLnk li a{color: #666;font-size: 12px;text-decoration: none;text-align:center;width: 100%;}
#friLnk li a:hover{text-decoration: underline;}
/*-----------研究所-----------*/
#banner{
    height: 169px;
    margin:0 0 10px 0;
    border: 1px solid #ccc;
}

/*   index frame
----------------------------------------------------*/
/* Header
------------------------------------------------------*/
#header{height:134px; background:url(images/top-shadow.jpg) center 46px no-repeat;margin-bottom: 15px;}
#top-header{height:108px; background:url(images/strip-line.gif) top repeat-x;}
#bottom-header{width:950px;border-bottom:1px solid #969696; float:left;height: 24px;}
.logo{padding:35px 0px 0px 20px;display:block;}
.logo a img{display:block;float: left;}
.logo a h1{display:block;float: left;margin-top:6px;text-decoration: none;}
 /*------main----------*/
#left_b{border: 1px solid #ccc;margin-top: 10px;}
.container_index{margin-bottom: 8px;float: left;border: 1px solid #ccc;}
span.more{display: block;float: right;padding-right:5px;font-size:10px !important;color:#666 !important;text-decoration: none;}
span.more:hover{color:#999 !important;text-decoration:underline; }
ul.content{list-style:none;padding: 0;margin: 0;display: block;float: left;}
ul.content li{line-height: 25px;background:url(images/ico-2.gif) center left  no-repeat;padding-left:10px;width:92%;margin-left:3%;float:left;display:block; }
ul.content li a{color:#6F6F6F !important;text-decoration: none;display: block;float: left;}
ul.content li a:hover{text-decoration: underline;}
ul.content li span.time{float: right;display: block;color:#999;font-size: 11px;}
.title_index{text-indent:0.5em;display: block;float: left;padding:5px 0;margin:0;font-size:12px;line-height:22px;color:#444;background: url("images/title_bg.png")  repeat-x;text-decoration: none;}
.title_index strong{display:block;float: left;}
.title_index:hover{color:#666;}
.title_index a{color:#444;text-decoration: none;}
.title_index a:hover{color:#666;}
/*---left_l---*/
p.researchDesc{padding:5px 8px  8px 8px;display: block;float:left;margin: 0;}
.p5{padding: 5px;}

/*-----left_r------*/
p.brief{text-indent: 2em;padding:5px 8px 8px 8px;display: block;float: left;margin: 0;}
a.institution{padding: 0;margin:0;width:100%;text-align: center;display: block;float: left;line-height: 26px;color:#6F6F6F !important;text-decoration: none;}
a.institution:hover{text-decoration: underline;}

/*  Homepage Slider
------------------------------------------------------*/
#slideshow{
    margin-bottom: 0;
    height: 195px;
}

#box-nav-slider{
    background-image:url(images/strip-line.gif);
    background-position:bottom;
    background-repeat:repeat-x;
    height:17px;
    position: relative;
    float: left;
    margin-bottom: 11px;
}
#slideshow-navigation a{
    background: url(images/slide.png) no-repeat scroll 50% 50%;
    display:block;
    float:left;
    font-size:0px;
    width:9px;
    height:9px;
    margin:2px;
    outline-style:none;
    outline-width:medium;
    padding:2px;
}
#slideshow-navigation{float:right; padding-right:10px}
#slideshow-navigation .activeSlide {background: url(images/slide.png) no-repeat scroll 0% 50%;}
.slidehalf { margin-top:0px; margin-right:20px; float:left;} /* Editable Slider Image Position */
.slidehalf2 { margin-top:0px; margin-right:0px; float:left;} /* Editable Slider Image Position */
.slide-text .PicTitle{text-align:center;padding:5px 0;background-color:#999;text-decoration: none;}
.slide-text{width: 270px;}
.slide-text .PicTitle a{color:#fff;text-align:center;text-decoration: none;}
.slide-text .PicTitle a:hover{color:#ccc;}
.slide-text p{font-size:12px; color:#b5b5b5; line-height:22px; padding-right:20px;}
.slide-text a.read_more{color:#ff4e00; font-size:12px;}
.flash-img {text-align:center; display:block; margin:100px auto 0 auto;}
/* Footer
------------------------------------------------------*/
#footer{font-size:12px; margin-top: 10px; color:#fff; background-color:#666; line-height:16px; float:left;text-align: center;padding: 10px 0;height: 50px}
#footer a, #footer a:visited{color:#fff; text-decoration:none;}
#footer p{font-size:12px; color:#eee;margin: 0;padding:0;}