/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#title div.title {
	font-size:2em;
	color:#111;
	letter-spacing: .1em;
}

#title span.subtitle {
	font-size:1.5em;
	color: #999;
	letter-spacing: .1em;
	margin-bottom:0.75em;
}

#menu ul {
	margin:0 0 0 0;
	padding: 0.5em;
	font-weight: bold;
	background: #BACE87;
	border-top: 2px solid #658A16;
	border-bottom: 2px solid #658A16;
}
/*-----------------menuManage-----------------*/
#menu li {display: inline;}

#menu ul a {
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}
.content_accordion .content{
    padding: 0px;
}
#menu a:hover {background: #658A16;}
button{
    clear: none;
    height: 25px;
    margin: 0px;
    margin-left: 13px;
    line-height: 10px;
    float: left;
}
button a.amodify{
    color: #fff;
    font-weight: normal;
}
.box .block input.order_txt{float:left;width: 20px;margin-bottom: 0px;padding: 0px;}
input#Mname{
    border: none;
    background-color:#DAE0E3;
    text-indent: 2em;
    line-height: 30px;
}
input.large{
    display:inline;
    border:1px solid #b5b8bb;
    background-color:#e7edef;
    width:30%;
}
.box .block input.menu{
    margin: 0px;
    float: left;
}
.box-head{height: 30px;padding: 5px;color: #fff;font-weight: bold;line-height: 30px;text-indent: 2em;}
table.menu_sec{width:100%;text-align: left;margin: 0px;}
table.menu_sec input{float: left;}
/*---------------userManage------------------*/
.flat_area ul{
    list-style-type: none;
    margin-left: 10%;
    float: left;
}
#userInfo ul li .input_info{
    background: #EEE url(../static/dashboard/images/grey_noise.png) repeat;
    background-color: #F2F4F6;
    height: 20px;
    border:none;
    width: 120px;
}
#userInfo ul li .input_info:hover,.input_info:focus{
    height: 18px;
    border: 1px solid #ccc;
    background-color: #090;
    width: 118px;
}
#userInfo ul li button{
   width: 100px;
    margin-top: 20px;
}

/*-------------前台文章列表--------------*/
 .maincontent .art-list{
    border-bottom: 1px solid #e2e2e2;
    font-size: 14px;
    margin-bottom:9px;
     text-align: left;
}
.maincontent .art-list a:hover{
    text-decoration: underline;
    color: #4D5256;
}
.art-list a:link, a:visited, a:active{
    color: #778087;
    text-decoration: none;
}
.art-list .art-attr{
    font-size: 11px;
    font-weight:normal;
    color: #778087;
    display: block;
    -webkit-text-size-adjust: none;
    padding: 2px;
    margin-top:5px;
}

/*-------------后台首页日历-------------------*/
.ui-datepicker table{
    margin: 0 0em;
}
.calender{
    margin-left: 20%;
    margin-right:20%;
}
.box .block ul.full_width li{
    margin: 0px;
}
/*--------归档列表的样式-------------------*/
ul#documentA li{margin: 10px;}

/*--------album------*/
#album_load{
    margin: 0px;
    float: left;
    width: 920px;
}
#article_load{
    margin: 0px;
    float: left;

}
p.albumDesc{
    width:405px;
}
/*--友情链接--*/
#fridendLink{
    float: left;
    width:890px;
    margin-top:5px;
    padding: 10px 15px 10px 15px;
    background-color: #202020;
    border-bottom: 1px solid #686868;
}
#fridendLink a{
    color: #686868;
    margin-right: 20px;
}
#fridendLink a strong{
    display: block;
    float: left;
}
#fridendLink #scroll_div{
    width: 805px;
    overflow: hidden;
    height: 15px;
    white-space: nowrap;
    margin-right: 0px;
    float: left;
}
#fridendLink a:hover{
    text-decoration: underline;
}
#fridendLink  a.t:hover{text-decoration: none;}
/*--公告字体颜色--*/
ul li a.announce{color:#6F6F6F}