/* general */
table {
    border: 1px solid #CCCCCC;
}

label.field {
	width:98px;
	display:inline-block;
}

/* header */
#title div.title {
	font-size:2em;
	color:#111;
	letter-spacing: .1em;
}

#title span.subtitle {
	font-size:1.5em;
	color: #999;
	letter-spacing: .1em;
	margin-bottom:0.75em;
}

#menu ul {
	margin:0 0 0 0;
	padding: 0.5em;
	font-weight: bold;
	background: #BACE87;
	border-top: 2px solid #658A16;
	border-bottom: 2px solid #658A16;
}
/*-----------------menuManage-----------------*/
#menu li {display: inline;}

#menu ul a {
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}
.content_accordion .content{
    padding: 0px;
}
#menu a:hover {background: #658A16;}
button{
    clear: none;
    height: 25px;
    margin: 0px;
    margin-left: 13px;
    line-height: 10px;
    float: left;
}
button a.amodify{
    color: #fff;
    font-weight: normal;
}
.box .block input.order_txt{float:left;width: 20px;margin-bottom: 0px;padding: 0px;}
input#Mname{
    border: none;
    background-color:#DAE0E3;
    text-indent: 2em;
    line-height: 30px;
}
input.large{
    display:inline;
    border:1px solid #b5b8bb;
    background-color:#e7edef;
    width:30%;
}
.box .block input.menu{
    margin: 0px;
    float: left;
}
.box-head{height: 30px;padding: 5px;color: #fff;font-weight: bold;line-height: 30px;text-indent: 2em;}
table.menu_sec{width:100%;text-align: left;margin: 0px;}
table.menu_sec input{float: left;}
/*---------------userManage------------------*/
.flat_area ul{
    list-style-type: none;
    margin-left: 10%;
    float: left;
}
#userInfo ul li .input_info{
    background: #EEE url(dashboard/images/grey_noise.png) repeat;
    background-color: #F2F4F6;
    height: 20px;
    border:none;
    width: 120px;
}
#userInfo ul li .input_info:hover,.input_info:focus{
    height: 18px;
    border: 1px solid #ccc;
    background-color: #090;
    width: 118px;
}
#userInfo ul li button{
   width: 100px;
    margin-top: 20px;
}

/*-------------前台文章列表--------------*/
 .maincontent .art-list{
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
    margin-bottom:9px;
     text-align: left;
}
.maincontent .art-list a{color: #666;text-decoration: none;}
.maincontent .art-list a:hover{
    text-decoration: underline;
    color: #999;
}

.maincontent .art-list .art-attr{
    font-size: 11px;
    font-weight:normal;
    color: #aaa;
    display: block;
    -webkit-text-size-adjust: none;
    padding: 2px;
    margin-top:5px;
}

/*-------------后台首页日历-------------------*/
.ui-datepicker table{
    margin: 0 0em;
}
.calender{
    margin-left: 20%;
    margin-right:20%;
}
.box .block ul.full_width li{
    margin: 0px;
}
/*--------归档列表的样式-------------------*/
ul#documentA li{margin: 10px;}

/*--------album------*/
#album_load{
    margin: 0px;
    float: left;
    width: 920px;
}
p.albumDesc{
    width:405px;
}

/*--公告字体颜色--*/
ul li a.announce{color:#6F6F6F}
/*-----teacher名师风采------*/
a.abtn{display:block;height:130px;width:17px;overflow:hidden;background:url(images/arrow3.png) no-repeat 0px 50%;}
a.aleft{float:left;}
a.agrayleft{cursor:default;background-position:-34px 50%;}
a.aright{float:right;background-position:-17px 50%;}
a.agrayright{cursor:default;background-position:-51px 50%;}
.scrolllist{width:709px; height: 205px;float:left;}
.scrolllist .imglist_w{width:675px;height:205px;overflow:hidden;float:left;position:relative;/*必要元素*/}
.scrolllist .imglist_w ul{width:20000px;position:absolute;top:0px;list-style: none;padding: 0;margin: 0}
.scrolllist .imglist_w li{width:130px;float:left;padding:2px 2px 0 3px;z-index: 999;}
.scrolllist .imglist_w li img{padding:2px;border:solid 1px #ddd;}
.scrolllist .imglist_w li a{color:#3366cc;text-decoration:none;float:left;}
.scrolllist .imglist_w li a:hover img{filter:alpha(opacity=86);-moz-opacity:0.86;opacity:0.86;}
.scrolllist .imglist_w li p{line-height:24px;overflow:hidden;float:left;padding: 0;width: 110px;text-align:center;}
 /*----友情链接---------*/
#friLnk{
    width: 920px;
    list-style: none;
    display: block;float: left;
    margin: 0;
    padding: 10px 0;
}
#friLnk li.friLnkT{padding-left:43px;width: 872px;height: 25px;line-height:25px;color: #444;font-size: 14px;background: url(images/friLnk.png) no-repeat center;}
#friLnk li{padding:2px 5px;display: block;float: left;}
#friLnk li a{color: #666;font-size: 10px;text-decoration: none;text-align:center;}
#friLnk li a:hover{text-decoration: underline;}
/*-----------研究所-----------*/
#banner{
    width: 920px;
    height: 169px;
    margin: 10px 0 0 0;
}
