<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sdufe.cms.common.dao.agency.AgencyMapper">

    <resultMap id="agencyDetailMap" type="Agency">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="categoryId" column="category_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="introduction" column="introduction"/>
        <result property="rate" column="rate"/>
        <result property="deleted" column="deleted"/>
        <result property="createdDate" column="created_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="lastModifiedDate" column="last_modified_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <sql id="agencyColumns">id, title, category_id, image_url, introduction, rate, deleted , created_date, last_modified_date</sql>

    <!--
        根据编号获取组织机构
    -->
    <select id="get" parameterType="Long" resultMap="agencyDetailMap">
        SELECT
        <include refid="agencyColumns"/>
        FROM cms_agency
        WHERE id=#{id} and deleted=0
        ORDER BY ID DESC
        LIMIT 1
    </select>

    <!--
        获得所有的组织机构
    -->
    <select id="getAll" resultMap="agencyDetailMap">
        SELECT
        <include refid="agencyColumns"/>
        FROM cms_agency
        ORDER BY ID DESC
        LIMIT 30
    </select>

    <!--
        保存组织机构
    -->
    <insert id="save" parameterType="Agency" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_agency
            (title, category_id, image_url, introduction, rate, deleted, created_date)
        VALUES
            (#{title}, #{categoryId}, #{imageUrl}, #{introduction}, 0, 0, null)
    </insert>

    <!--
        彻底删除组织机构
    -->
    <delete id="delete">
        DELETE FROM cms_agency
        WHERE deleted=1
    </delete>

    <!--
        更新组织机构
    -->
    <update id="update" parameterType="Agency">
        UPDATE cms_agency
        <set>
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url=#{imageUrl},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction=#{introduction},
            </if>
            last_modified_date=null
        </set>
        WHERE id=#{id} AND deleted=0
    </update>

    <!--
        更新boolean字段
    -->
    <update id="updateBool" parameterType="Map">
        UPDATE cms_agency
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

    <!--
        增加访问次数
    -->
    <update id="updateViews" parameterType="Long">
        UPDATE cms_agency
        SET rate=1+rate
        WHERE id=#{id}
    </update>

</mapper>