<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Archive">

    <!--
         获取文章数量
     -->
    <select id="getTopTen" resultType="Archive">
        select id, title, article_count as articlecount, created_date as createddate, last_modified_date as lastmodifieddate
        from cms_archive
        order by id desc
        limit 0,10
	</select>

</mapper>