<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sdufe.cms.cn.im47.cms.common.dao.article.ArchiveMapper">

    <resultMap id="archiveDetailMap" type="Archive">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <collection property="articleList" javaType="Article">
            <result property="subject" column="subject"/>
            <result property="digest" column="digest"/>
            <result property="rate" column="rate"/>
            <result property="rateTimes" column="rate_times"/>
            <result property="views" column="views"/>
        </collection>
    </resultMap>

    <sql id="archiveColumns">cms_archive.id,title</sql>
    <sql id="articleColumns">subject,digest,rate,rate_times,views</sql>

    <!-- 获取Archive -->
    <select id="get" parameterType="Long" resultMap="archiveDetailMap">
        SELECT <include refid="archiveColumns"/>,<include refid="articleColumns"/>
        FROM cms_archive
        LEFT OUTER JOIN cms_archive_article ON archive_id = cms_archive.id
        LEFT OUTER JOIN cms_article ON cms_article.id = article_id
        WHERE cms_archive.id=#{id}
    </select>

    <!-- 获取Archive -->
    <select id="getByTitle" parameterType="String" resultMap="archiveDetailMap">
        SELECT <include refid="archiveColumns"/>,<include refid="articleColumns"/>
        FROM cms_archive
        LEFT OUTER JOIN cms_archive_article ON archive_id = cms_archive.id
        LEFT OUTER JOIN cms_article ON cms_article.id = article_id
        WHERE title=#{title}
        ORDER BY id ASC
    </select>

    <!-- 获取Archive -->
    <select id="getArticleIdByTitle" parameterType="String" resultType="Long">
        SELECT cms_archive_article.article_id
        FROM cms_archive_article
        LEFT OUTER JOIN cms_archive ON archive_id = cms_archive.id
        WHERE title=#{title}
    </select>

    <!-- 边栏list -->
    <select id="list" parameterType="map" resultType="Archive">
        SELECT id,title,count(id) as count
        FROM cms_archive
        LEFT OUTER JOIN cms_archive_article ON archive_id = cms_archive.id
        GROUP BY title
        ORDER BY title DESC
        LIMIT ${offset},${limit}
    </select>

    <!-- 保存Archive -->
    <insert id="save" parameterType="Archive" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_archive
        (title, created_date)
        VALUES
        (#{title}, null)
    </insert>

    <!-- 删除Archive -->
    <delete id="delete" parameterType="Long">
        DELETE FROM cms_archive
        WHERE id=#{id}
    </delete>

    <!-- 新增Archive_Article -->
    <insert id="addArticle" parameterType="map">
        INSERT INTO cms_archive_article(archive_id, article_id)
        VALUES(#{archiveId}, #{articleId})
    </insert>

    <!-- 删除Archive_article -->
    <delete id="deleteArticle" parameterType="Long">
        DELETE FROM cms_archive_article
        WHERE archive_id=#{articleId};
    </delete>

    <!-- 查询Archive -->
    <select id="search" resultMap="archiveDetailMap">
        SELECT <include refid="archiveColumns"/>
        FROM cms_archive
        <where>
            <if test="id != null and id>0">
                and id=#{id}
            </if>
            <if test="title != null and title != ''">
                and title=#{subject}
            </if>
        </where>
        ORDER BY title ASC
        <if test="title != null and title != ''">
            LIMIT ${offset},${limit}
        </if>
    </select>
</mapper>