<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Article">
    <resultMap id="articleDetailMap" type="Article">
        <id property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="message" column="message"/>
        <result property="digest" column="digest"/>
        <result property="keyword" column="keyword"/>
        <result property="top" column="top"/>
        <result property="rate" column="rate"/>
        <result property="rateTimes" column="rate_times"/>
        <result property="views" column="views"/>
        <result property="allowComment" column="allow_comment"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="deleted" column="deleted"/>
        <association property="user" column="user_id" resultMap="userDetailMap" />
        <association property="category" column="category_id" resultMap="categoryDetailMap" />
        <collection property="commentList" column="id" javaType="ArrayList" ofType="Comment" resultMap="commentDetailMap" />
    </resultMap>

    <!--
         获取文章数量
     -->
    <select id="getArticleCount" parameterType="Long" resultType="Long">
        select count(id)
        from cms_article
        where id in (select article_id from cms_category_article where category_id=#{categoryId}) and status=1 and deleted=0
        limit 1
	</select>

    <!--
         获取已标记为删除的文章id
     -->
    <select id="getDeletedArticleId" resultType="Long">
        select id
        from cms_article
        where deleted=1
        order by id ASC
        limit 500
	</select>

    <!--
         获取文章正文
     -->
    <select id="getArticle" parameterType="int" resultMap="articleDetailMap">
        select id,user_id,category_id,subject,message,digest,keyword,top,rate,rate_times,views,status,allow_comment,created_date,last_modified_date,deleted
        from cms_article
        where id=#{id}
        limit 1
	</select>

    <!--
         获取所有文章where deleted=0
     -->
    <select id="getAllArticle" parameterType="map" resultMap="articleDetailMap">
        select id,user_id,category_id,subject,rate,rate_times as ratetimes,views,top,allow_comment as allowcomment,status,deleted,cms_article.created_date as createddate,cms_article.last_modified_date as lastmodifieddate
        from cms_article
        order by ${Sort} ${Direction}
	</select>

    <!--
        获取本月的所有文章
    -->
    <select id="getMonthArticle" parameterType="Date" resultMap="articleDetailMap">
        select id,user_id,category_id,subject,rate,rate_times as ratetimes,views,top,status,deleted,cms_article.created_date as createddate,cms_article.last_modified_date as lastmodifieddate
        from cms_article
        where deleted=0 and year(created_date)=year(#{created_date}) and month(created_date)=month(#{created_date})
        order by id desc
	</select>

    <!--
        获取top 10 文章
    -->
    <select id="getTopTenArticle" resultMap="articleDetailMap">
        select id,subject
        from cms_article
        where deleted=0
        order by id desc
        limit 0,10
    </select>

    <!--
         通过分类id获取文章
     -->
    <select id="getArticleListByCategoryId" parameterType="int" resultMap="articleDetailMap">
        select id,subject,author,category_name,rate,rate_times as ratetimes,top,status,allow_comment,views,created_date,last_modified_date
        from cms_article
        where id in (select article_id from cms_category_article where category_id=#{categoryId}) and status=1 and deleted=0
        order by top desc
	</select>

    <!--
         通过分类id获取文章
     -->
    <select id="getArticleDigestByCategoryId" parameterType="int" resultMap="articleDetailMap">
        select id,subject,digest,author,category_name,rate,rate_times,views,created_date,last_modified_date,top,status
        from cms_article
        where id in (select article_id from cms_category_article where category_id=#{categoryId}) and status=1 and deleted=0
        order by top desc
	</select>

    <!--
         查询文章
     -->
    <select id="searchArticle" parameterType="map" resultMap="articleDetailMap">
        select id,subject,message,digest,author,category_name,rate,rate_times,views,created_date,last_modified_date,top,status
        from cms_article
        <where>
            <if test="author != null">
                author=#{author}
            </if>
            <if test="top != null">
                and top=#{top}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="keyword != null">
                and keyword=#{keyword}
            </if>
            <if test="deleted != null">
                and deleted=#{deleted}
            </if>
        </where>
        order by ${Sort} ${Direction}
        limit 500
    </select>

    <!-- 更新文章 -->
    <update id="updateArticle" parameterType="Article">
        update cms_article
        set author=#{author},category_name=#{categoryName},subject=#{subject},message=#{message},digest=#{digest},
        keyword=#{keyword},top=#{top},status=#{status},rate=#{rate},rate_times=#{rateTimes},deleted=#{deleted},
        allow_comment=#{allowComment},last_modified_date = null
        where id = #{id}
	</update>

    <!-- 删除文章 -->
    <delete id="delete">
        delete from cms_article
        where deleted = 1
        limit 500
	</delete>
</mapper>