<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.im47.cms.common.dao.article.ArticleMapper">

    <resultMap id="articleDetailMap" type="Article">
        <id property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="message" column="message"/>
        <result property="imageName" column="image_name"/>
        <result property="digest" column="digest"/>
        <result property="keyword" column="keyword"/>
        <result property="top" column="top"/>
        <result property="rate" column="rate"/>
        <result property="rateTimes" column="rate_times"/>
        <result property="views" column="views"/>
        <result property="allowComment" column="allow_comment"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="createdDate" column="created_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="deleted" column="deleted"/>
        <association property="user" column="user_id" javaType="User" columnPrefix="user_">
            <result property="username" column="username"/>
        </association>
        <association property="category" column="cat_id" javaType="Category" columnPrefix="cat_">
            <id property="id" column="id"/>
            <result property="fatherCategoryId" column="father_category_id"/>
            <result property="categoryName" column="category_name"/>
            <result property="showType" column="show_type"/>
            <result property="description" column="description"/>
            <result property="allowComment" column="allow_comment"/>
        </association>
    </resultMap>

    <sql id="articleColumns">A.id, A.user_id, A.subject, A.message, A.image_name, A.digest, A.keyword, A.url, A.top, A.rate, A.rate_times, A.views, A.status, A.allow_comment, A.created_date, A.last_modified_date, A.deleted</sql>

    <!-- 获取文章数量 -->
    <select id="count" resultType="Long">
        SELECT COUNT( id )
        FROM cms_article
        WHERE deleted =0
        AND STATUS =1
        LIMIT 1
	</select>

    <!-- 获取 categoryId 分类下面的文章数量 -->
    <select id="countByCategoryId" parameterType="Long" resultType="Long">
       SELECT COUNT( id )
       FROM  cms_article
       WHERE deleted =0
       AND STATUS =1
       AND category_id =#{categoryId}
       LIMIT 1
	</select>

    <!-- 获取 ids 分类下面的文章数量 -->
    <select id="countByCategoryIds" parameterType="Long" resultType="Long">
       SELECT COUNT( id )
       FROM  cms_article
       WHERE deleted =0 AND STATUS =1 AND category_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
       LIMIT 1
	</select>

    <!-- 获取文章正文 -->
    <select id="get" parameterType="Long" resultMap="articleDetailMap">
        SELECT<include refid="articleColumns"/>, U.username AS user_username,
        C.id AS cat_id, C.father_category_id AS cat_father_category_id, C.category_name AS cat_category_name, C.show_type AS cat_show_type, C.description AS cat_description, C.allow_comment AS
        cat_allow_comment
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        LEFT OUTER JOIN cms_category AS C ON category_id = C.id
        WHERE A.id =#{id}
    </select>

    <!-- 获取删除标记为真的文章 -->
    <select id="getDeleted" resultMap="articleDetailMap">
        SELECT id,image_name,created_date
        FROM cms_article
        WHERE deleted=1
    </select>

    <!-- 获取所有文章 -->
    <select id="getAll" parameterType="map" resultMap="articleDetailMap">
        SELECT<include refid="articleColumns"/>, U.username as user_username,
        C.id as cat_id, C.category_name as cat_category_name, C.allow_comment as cat_allow_comment
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        LEFT OUTER JOIN cms_category AS C ON category_id = C.id
        <if test="status != null and status > 0">
            WHERE A.deleted=0 AND A.STATUS=1
        </if>
        ORDER BY ${sort} ${direction}
        LIMIT #{offset},#{limit}
    </select>

    <!-- 获取本月的所有文章 -->
    <select id="getByMonth" parameterType="Date" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>
        FROM cms_article AS A
        WHERE A.deleted=0 AND A.STATUS=1
        AND YEAR( created_date ) = YEAR( #{created_date} )
        AND MONTH( created_date ) = MONTH( #{created_date} )
        ORDER BY top DESC, created_date DESC
    </select>

    <!-- 通过分类id获取文章列表, 前台 -->
    <select id="getByCategoryId" parameterType="map" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>, U.username as user_username,
        C.id as cat_id, C.category_name as cat_category_name, C.allow_comment as cat_allow_comment
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        LEFT OUTER JOIN cms_category AS C ON category_id = C.id
        WHERE A.category_id=#{categoryId}
        ORDER BY A.top DESC, A.id desc
        LIMIT ${offset},${limit}
    </select>

    <!-- 通过分类id获取文章列表, 前台 -->
    <select id="getByCategoryIdAndStatus" parameterType="map" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>, U.username as user_username
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        WHERE A.category_id=#{categoryId} AND A.status=#{status}
        ORDER BY A.top DESC, A.id desc
        LIMIT ${offset},${limit}
    </select>

    <!-- 通过分类id获取文章列表, 前台 -->
    <select id="getByCategoryIdAndDeleted" parameterType="map" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>, U.username as user_username
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        WHERE A.category_id=#{categoryId} AND A.deleted=#{deleted}
        ORDER BY A.top DESC, A.id desc
        LIMIT ${offset},${limit}
    </select>

    <!-- 通过分类id获取文章列表, 前台 -->
    <select id="getByCategoryIdAndStatusAndDeleted" parameterType="map" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>, U.username as user_username
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        WHERE A.category_id=#{categoryId} AND A.status=#{status} AND A.deleted=#{deleted}
        ORDER BY A.top DESC, A.id desc
        LIMIT ${offset},${limit}
    </select>

    <!-- 获取多个分类内的文章 -->
    <select id="getByCategoryIds" parameterType="map" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>, U.username as user_username
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        WHERE A.deleted=0 AND A.STATUS=1 AND A.category_id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY A.top DESC, A.id DESC
        LIMIT ${offset},${limit}
    </select>

    <!-- 根据archive编号获得article编号, 分页 -->
    <select id="getByArchiveId" parameterType="Long" resultMap="articleDetailMap">
        SELECT <include refid="articleColumns"/>,U.username as user_username
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        WHERE A.deleted =0 AND A.STATUS =1 AND A.id in (select article_id from cms_archive_article where archive_id = #{archiveId})
        ORDER BY A.id DESC
        LIMIT ${offset},${limit}
    </select>

    <!-- 根据创建月份获得article编号, 分页 -->
    <select id="getIdByMonth" parameterType="map" resultType="Long">
        SELECT id
        FROM cms_article AS A
        WHERE A.deleted=0 AND A.STATUS=1 AND A.created_date between #{startDate} and #{endDate}
        ORDER BY A.id DESC
    </select>

    <!-- 新增文章 -->
    <insert id="save" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_article (user_id, category_id, subject, message, image_name, digest, keyword, url,
            top, rate, rate_times, views, allow_comment, status, deleted, created_date)
        VALUES (#{user.id}, #{category.id}, #{subject}, #{message}, #{imageName}, #{digest}, #{keyword}, #{url},
            #{top}, 0, 0, 0, #{allowComment}, 0, 0, null)
    </insert>

    <!-- 删除文章 -->
    <delete id="deleteByTask">
        DELETE FROM cms_article
        WHERE deleted =1
	</delete>

    <!-- 更新文章 -->
    <update id="update" parameterType="Article">
        UPDATE cms_article
        <set>
            <if test="category != null and category.id > 0">
                category_id=#{category.id},
            </if>
            <if test="subject != null and subject !=''">
                subject=#{subject},
            </if>
            <if test="message != null and message !=''">
                message=#{message},
            </if>
            <if test="imageName != null and imageName !=''">
                image_name=#{imageName},
            </if>
            <if test="digest != null and digest !=''">
                digest=#{digest},
            </if>
            <if test="keyword != null and keyword !=''">
                keyword=#{keyword},
            </if>
            <if test="top != null and top !=''">
                top=#{top},
            </if>
            <if test="rate != null and rate !=''">
                rate=#{rate},
            </if>
            <if test="rateTimes != null and rateTimes !=''">
                rate_times=#{rateTimes},
            </if>
            <if test="views != null and views !=''">
                views=#{views},
            </if>
            <if test="allowComment != null and allowComment !=''">
                allow_comment=#{allowComment},
            </if>
            <if test="status != null and status !=''">
                status=#{status},
            </if>
            <if test="deleted != null and deleted !=''">
                deleted=#{deleted},
            </if>
            last_modified_date=null
        </set>
        WHERE id=#{id}
    </update>

    <!-- 更新文章bool字段 -->
    <update id="updateBool" parameterType="map">
        UPDATE cms_article
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

    <!-- 更新文章views字段 -->
    <update id="updateViews" parameterType="Long">
        UPDATE cms_article
        SET views=1+views
        WHERE id=#{id}
    </update>

    <!-- 查询文章 -->
    <select id="search" parameterType="map" resultMap="articleDetailMap">
        SELECT<include refid="articleColumns"/>, U.username as user_username,
        C.id as cat_id, C.category_name as cat_category_name, C.description as cat_description, C.allow_comment as
        cat_allow_comment
        FROM cms_article AS A
        LEFT OUTER JOIN cms_user AS U ON user_id = U.id
        LEFT OUTER JOIN cms_category AS C ON category_id = C.id
        <where>
            A.deleted=0 and A.STATUS=1
            <if test="id > 0">
                and A.id=#{id}
            </if>
            <if test="user != null and user.id > 0">
                and user_id=#{user.id}
            </if>
            <if test="subject != null and subject != ''">
                and subject like CONCAT('%',#{subject},'%')
            </if>
            <if test="digest != null and digest != ''">
                and digest like CONCAT('%',#{digest},'%')
            </if>
            <if test="keyword != null and keyword != ''">
                and keyword like CONCAT('%',#{keyword},'%')
            </if>
            <if test="user != null and user.username != ''">
                and U.username=#{user.username}
            </if>
            <if test="category != null and category.id > 0">
                and C.id=#{category.id}
            </if>
        </where>
        <if test="Direction != null and Direction != ''">
            ORDER BY ${Sort} ${Direction}
        </if>
        <if test="limit != null and limit > 0">
            LIMIT ${offset},${limit}
        </if>
    </select>
</mapper>