<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Category">
    <resultMap id="categoryDetailMap" type="Category">
        <id property="id" column="id"/>
        <result property="fatherCategoryId" column="father_category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="displayOrder" column="display_order"/>
        <result property="showType" column="show_type"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="allowComment" column="allow_comment"/>
        <result property="allowPublish" column="allow_publish"/>
        <result property="lastmodifieddate" column="last_modified_date"/>
        <result property="createddate" column="created_date"/>
        <result property="deleted" column="deleted"/>
        <collection property="subCategories" javaType="Category"/>
        <collection property="articleList" javaType="Article"/>
    </resultMap>

    <!--
         获取分类: 输出直接映射到对象, login_name列要"as loginName"以方便映射 department_id as "department.id"创建department对象并赋值
     -->
    <select id="getCategory" parameterType="int" resultType="Category">
        select id,father_category_id as fathercategoryid,category_name as categoryname,allow_comment as allowcomment,display_order as displayorder,
          url,deleted,description,allow_publish as allowpublish,show_type as showtype,created_date as createddate,last_modified_date as lastmodifieddate
        from cms_category
        where id=#{id} and deleted=0
        order by id ASC
        limit 1
	</select>

    <!--
        获取分类: 通过分类名称
    -->
    <select id="getCategoryByName" parameterType="String" resultType="Category">
        select id,father_category_id as fathercategoryid,category_name as categoryname,allow_comment as allowcomment,display_order as displayorder,
          url,deleted,description,allow_publish as allowpublish,show_type as showtype,created_date as createddate,last_modified_date as lastmodifieddate
        from cms_category
        where category_name=#{name} and deleted=0
        order by id ASC
        limit 1
	</select>

    <!--
         获取所有可发表评论的分类列表
     -->
    <select id="getAllowPublishCategory" resultType="Category">
        select id,category_name as categoryname
        from cms_category
        where allow_publish=1 and deleted=0
	</select>

    <!--
         获取分类id的所有子分类
     -->
    <select id="getSubCategory" parameterType="int" resultType="Category">
        select id, father_category_id as fathercategoryid, category_name as categoryname, display_order as displayorder, url, deleted, show_type as showtype
        from cms_category
        where father_category_id=#{id} and deleted=0
	</select>

    <!--
         获取子分类数目
     -->
    <select id="getCount" resultType="Long">
		select count(id)
		from cms_category
		where deleted=0
		order by id ASC
		limit 1
	</select>

    <!--
         获取子分类数目
     -->
    <select id="getCountByFatherCategoryId" parameterType="int" resultType="Long">
		select count(id)
		from cms_category
		where father_category_id=#{id} and deleted=0
		order by id ASC
		limit 1
	</select>

    <!-- 查询分类,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="searchCategory" parameterType="map" resultType="Category">
        select *
        from cms_category
        <where>
            <if test="categoryName != null">
                category_name=#{categoryName}
            </if>
            <if test="allowComment != null">
                and allow_comment=#{allowComment}
            </if>
            <if test="deleted != null">
                and deleted=#{deleted}
            </if>
            <if test="showType != null">
                and show_type=#{showType}
            </if>
        </where>
        order by ${Sort} ${Direction}
    </select>

    <!-- 插入分类 -->
    <insert id="saveCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
		insert into cms_category (
		father_category_id, category_name, allow_comment, display_order,
		 url, deleted, description, keyword, allow_publish, show_type, created_date)
		values (#{fatherCategoryId}, #{categoryName}, #{allowComment}, #{displayOrder},
		 #{url}, #{deleted}, #{description},
		 #{keyWord}, #{allowPublish}, #{showType}, #{createddate})
	</insert>

    <!-- 删除分类 -->
    <delete id="deleteCategory" parameterType="int">
		delete from cms_category
		where id=#{id}
	</delete>

</mapper>