<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <resultMap id="commentDetailMap" type="Comment">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="message" column="message"/>
        <result property="postIP" column="post_ip"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--
         获取分类id的所有评论
     -->
    <select id="getCommentByArticleId" parameterType="Long" resultMap="commentDetailMap">
		SELECT id, username, message, post_ip, STATUS , last_modified_date, created_date, deleted
		FROM cms_comment
		WHERE article_id =2
		AND STATUS =1
		AND deleted =0
		ORDER BY id ASC
		LIMIT 0 , 30
	</select>

    <!--
         编号为id的评论
     -->
    <select id="getComment" parameterType="Long" resultMap="commentDetailMap">
        select id,article_id,username,message,post_ip,status,created_date,last_modified_date,deleted
        from cms_commnet
        where id=#{id}
        limit 1
	</select>

    <!--
        获取最新10条评论
    -->
    <select id="getCommentRecent" resultType="ArrayList">
        select id,article_id,username,message,post_ip,status,created_date,last_modified_date
        from cms_commnet
        where status=1 and deleted=0
        order by id DESC
        limit 10
	</select>

    <!--
         获取评论数目
     -->
    <select id="getCount" resultType="Long">
		select count(id)
		from cms_commnet
		where status=1 and deleted=0
		order by id ASC
		limit 1
	</select>

    <!--
         获取评论数目
     -->
    <select id="getCountByArticleId" parameterType="Long" resultType="Long">
		select count(id)
		from cms_commnet
		where article_id=#{id} and status=1 and deleted=0
		order by id ASC
		limit 1
	</select>

    <!-- 插入评论 -->
    <insert id="save" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		insert into cms_commnet (
		cid,aid,username,postip,posttime,status,message,createddate,lastmodifieddate)
		values (#{id}, #{articleId}, #{username},#{postIP},#{postTime},#{status},#{message},now(),now())
	</insert>

    <!-- 删除评论 -->
    <delete id="delete">
		delete from cms_comment
		where deleted = 1
        limit 500
	</delete>

    <!--
        查询评论
     -->
    <select id="searchComment" parameterType="map" resultType="Comment">
        select id, name, email,
        login_name as loginName,
        department_id as "department.id"
        from acct_user
        <where>
            <if test="loginName != null">
                login_name=#{loginName}
            </if>
            <if test="name != null">
                and name=#{name}
            </if>
        </where>
        and status=1 and deleted=0
        order by ${Sort} ${Direction}
    </select>
</mapper>