<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <resultMap id="commentDetailMap" type="Comment">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="message" column="message"/>
        <result property="postIP" column="post_ip"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="deleted" column="deleted"/>
        <association property="article" column="article_id" javaType="Article" columnPrefix="article_">
            <result property="id" column="id"/>
            <result property="subject" column="subject"/>
        </association>
    </resultMap>

    <sql id="commentColumns">id, article_id, username, message, post_ip, STATUS , last_modified_date, created_date, deleted</sql>

    <!--
        获取所有评论
    -->
    <select id="getAll" resultMap="commentDetailMap">
        SELECT C.id, article_id, subject as article_subject, C.username, C.message, C.post_ip, C.status, C.created_date, C.last_modified_date, C.deleted
        FROM cms_comment as C
        LEFT OUTER JOIN cms_article as A
        ON C.article_id=A.id
        ORDER BY A.id DESC
        LIMIT 30
	</select>

    <!--
         获取分类id的所有评论
     -->
    <select id="getCommentByArticleId" parameterType="Long" resultMap="commentDetailMap">
		SELECT <include refid="commentColumns"/>
		FROM cms_comment
		WHERE article_id =#{articleId}
		AND STATUS =1
		AND deleted =0
		ORDER BY id DESC
	</select>

    <!--
         编号为id的评论
     -->
    <select id="getComment" parameterType="Long" resultMap="commentDetailMap">
        SELECT <include refid="commentColumns"/>
        FROM cms_comment
        WHERE id =#{id}
        LIMIT 1
	</select>

    <!--
        获取最新10条评论
    -->
    <select id="getCommentRecent" resultType="ArrayList">
        SELECT <include refid="commentColumns"/>
        FROM cms_comment
        WHERE STATUS =1
        AND deleted =0
        ORDER BY id DESC
        LIMIT 10
	</select>

    <!--
         获取评论数目
     -->
    <select id="getCount" resultType="Long">
		SELECT COUNT( id )
		FROM cms_comment
		WHERE STATUS =1
		AND deleted =0
	</select>

    <!--
         获取评论数目
     -->
    <select id="getCountByArticleId" parameterType="Long" resultType="Long">
		SELECT COUNT( id )
		FROM cms_comment
		WHERE article_id =#{articleId}
		AND STATUS =1
		AND deleted =0
	</select>

    <!-- 插入评论 -->
    <insert id="saveComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cms_comment( id, article_id, username, message, post_ip, STATUS, created_date, deleted)
		VALUES (#{id}, #{article.id}, #{username},#{message},#{postIP},0,null,0)
	</insert>

    <!-- 删除评论 -->
    <delete id="deleteComment">
		DELETE FROM cms_comment
		WHERE deleted = 1
        limit 500
	</delete>

    <!-- 更新评论bool字段 -->
    <update id="updateCommentBool" parameterType="map">
        UPDATE cms_comment
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

    <!-- 查询评论 -->
    <select id="searchComment" parameterType="map" resultType="Comment">
        SELECT <include refid="commentColumns"/>
        FROM cms_comment
        <where>
            deleted=0 and STATUS=1
            <if test="id > 0">
                and id=#{id}
            </if>
            <if test="article != null and article.id > 0">
                and article_id=#{article.id}
            </if>
            <if test="username != null and username != ''">
                and username=#{username}
            </if>
            <if test="message != null and message !=''">
                and message LINK #{message}
            </if>
            <if test="postIp > 0">
                and post_ip=#{postIp}
            </if>
        </where>
        ORDER BY ${Sort} ${Direction}
    </select>
</mapper>