<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sdufe.cms.common.dao.account.GroupMapper">

    <resultMap id="groupDetailMap" type="Group">
        <id property="id" column="id"/>
        <result property="groupName" column="group_name"/>
        <collection property="permissionList" javaType="String">
            <result property="id" column="permission"/>
        </collection>
    </resultMap>

    <!--获取用户组数量 -->
    <select id="count" resultType="Long">
        SELECT count(id)
        FROM cms_group
        LIMIT 1
	</select>

    <!-- 获取用户组 -->
    <select id="get" parameterType="Long" resultMap="groupDetailMap">
        SELECT G.id, group_name, permission
        FROM cms_group as G
        LEFT OUTER JOIN cms_group_permission as P ON G.id=P.group_id
        WHERE G.id=#{groupId}
	</select>

    <!-- 获取用户编号为id的用户组
    <select id="getByUserId" parameterType="Long" resultMap="groupDetailMap">
        SELECT group_id AS id, group_name
        FROM cms_user_group, cms_group
        WHERE cms_user_group.group_id = cms_group.id
        AND user_id =#{id}
        LIMIT 3
	</select>-->

    <!-- 获取用户组 -->
    <select id="getAll" resultMap="groupDetailMap">
        SELECT G.id, group_name, permission
        FROM cms_group as G
        LEFT OUTER JOIN cms_group_permission as P ON G.id=P.group_id
        LIMIT 99
	</select>

    <!-- 查询用户 -->
    <select id="search" parameterType="map" resultType="ArrayList">
        SELECT *
        FROM cms_group
        <where>
            <if test="id != null">
                id=#{id}
            </if>
            <if test="groupName != null">
                and group_name=#{groupName}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>