<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Image">
    <resultMap id="imageDetailMap" type="Image">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="imageUrl" column="image_url"/>
        <result property="description" column="description"/>
        <result property="showIndex" column="show_index"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="createdDate" column="created_date"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!--
        获取image
    -->
    <select id="getImage" parameterType="int" resultMap="imageDetailMap">
        select id, title, image_url, description, show_index, created_date, last_modified_date, deleted
        from cms_image
        where deleted=0 and id=#{id}
        order by id DESC
	</select>

    <!--
        获取image
    -->
    <select id="getAllImage" resultMap="imageDetailMap">
        select id, title, image_url, description, show_index, created_date, last_modified_date, deleted
        from cms_image
        where deleted=0
        order by id DESC
	</select>

    <!--
         获取分页显示的image
     -->
    <select id="getPagedImage" resultMap="imageDetailMap">
        select id, title, image_url, description, show_index, created_date, last_modified_date, deleted
        from cms_image
        where deleted=0
        order by id DESC
	</select>

    <!--
         查询图片
     -->
    <select id="searchImage" parameterType="map" resultMap="imageDetailMap">
        select id, title, image_url, description, show_index, created_date, last_modified_date, deleted
        from cms_image
        <where>
            <if test="showIndex != null">
                show_index=#{showIndex}
            </if>
            <if test="deleted != null">
                and deleted=#{deleted}
           </if>
        </where>
        order by ${Sort} ${Direction}
    </select>
</mapper>