<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.im47.cms.common.dao.link.LinkMapper">

    <resultMap id="linkDetailMap" type="Link">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="status" column="status"/>
        <result property="lastModifiedDate" column="last_modified_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="createdDate" column="created_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
    </resultMap>

    <sql id="linkColumns">id, title, url, STATUS, created_date, last_modified_date</sql>

    <!-- 根据id获取link -->
    <select id="get" parameterType="long" resultMap="linkDetailMap">
        SELECT
        <include refid="linkColumns"/>
        FROM cms_link
        WHERE id =#{id}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <!-- 获取 link 数量 -->
    <select id="count" resultType="long">
        SELECT COUNT( id )
        FROM cms_link
        LIMIT 1
	</select>

    <!-- 获取所有link -->
    <select id="getAll" resultMap="linkDetailMap">
        SELECT
        <include refid="linkColumns"/>
        FROM cms_link
        ORDER BY ${sort} ${direction}
        LIMIT #{offset},#{limit}
    </select>

    <!-- 获取所有审核的link -->
    <select id="getAuditedLink" resultMap="linkDetailMap">
        SELECT
        <include refid="linkColumns"/>
        FROM cms_link
        WHERE STATUS=1
        ORDER BY id DESC
        LIMIT 30
    </select>

    <!-- 新增link -->
    <insert id="save" parameterType="Link" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_link (title, url, status, created_date)
		VALUES (#{title}, #{url}, 0, null)
	</insert>

    <!-- 删除link -->
    <delete id="delete" parameterType="long">
		DELETE FROM  cms_link
		WHERE id = #{id}
	</delete>

    <!-- 修改link -->
    <update id="update" parameterType="Link">
        UPDATE cms_link
        <set>
            <if test="title != null and title !=''">
                title=#{title},
            </if>
            <if test="url != null and url !=''">
                url=#{url},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            last_modified_date=null
        </set>
        WHERE id=#{id}
    </update>

    <!-- 更新图片bool字段 -->
    <update id="updateBool" parameterType="map">
        UPDATE cms_link
        SET ${column}=1-${column}, last_modified_date=null
        WHERE id=#{id}
    </update>

    <!-- 查询link -->
    <select id="search" parameterType="map" resultMap="linkDetailMap">
        SELECT
        <include refid="linkColumns"/>
        FROM cms_link
        ORDER BY ${Sort} ${Direction}
    </select>
</mapper>