<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CMS">

    <!--
         获取管理日志: 输出直接映射到对象, login_name列要"as loginName"以方便映射 department_id as "department.id"创建department对象并赋值
     -->
    <select id="getManageLog" parameterType="int" resultType="ManageLog">
        select *
        from cms_manage_log
        where logid=#{id}
        limit 1
	</select>

    <!--
         获取管理日志数目
     -->
    <select id="getManageLogCount" resultType="Long">
		select count(logid)
		from cms_manage_log
	</select>

    <!-- 查询管理日志,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="searchManageLog" parameterType="map" resultType="ArrayList">
        select *
        from cms_manage_log
        <where>
            <if test="uid != null">
                and uid=#{uid}
            </if>
            <if test="username != null">
                username=#{username}
            </if>
            <if test="action != null">
                and action=#{action}
            </if>
        </where>
        order by ${Sort} ${Direction}
    </select>

    <!-- 插入管理日志： 1.由数据库生成id并赋值到user对象 2.输入用对象, 嵌套属性表达式#{department.id} -->
    <insert id="saveManageLog" parameterType="ManageLog" useGeneratedKeys="true" keyProperty="id">
		insert into cms_manage_log (
		uid, username, action, managetime, createtime, modifytime)
		values (#{uid}, #{username}, #{action}, #{manageTime}, #{createtime}, #{modifytime})
	</insert>

    <!-- 删除管理日志 -->
    <delete id="deleteManageLog" parameterType="int">
		delete from cms_manage_log
		where logid=#{id}
	</delete>

</mapper>