<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.im47.cms.common.dao.agency.TeacherMapper">

    <resultMap id="teacherDetailMap" type="Teacher">
        <id property="id" column="id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="top" column="top"/>
        <result property="imageUrl" column="image_url"/>
        <result property="deleted" column="deleted"/>
        <result property="createdDate" column="created_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="lastModifiedDate" column="last_modified_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <association property="article" column="article_id" javaType="Article" columnPrefix="art_">
            <result property="id" column="id"/>
            <result property="subject" column="subject"/>
            <result property="message" column="message"/>
        </association>
        <association property="agency" column="agency_id" javaType="Agency">
            <result property="id" column="id"/>
            <result property="title" column="title"/>
        </association>
    </resultMap>

    <sql id="teacherColumns">A.id, A.teacher_name, A.top, A.article_id, A.agency_id, A.image_url, A.deleted, A.created_date, A.last_modified_date</sql>

    <!--
        根据编号获取教师信息
    -->
    <select id="get" parameterType="Long" resultMap="teacherDetailMap">
        SELECT
        <include refid="teacherColumns"/>, B.title, C.id AS art_id, C.subject AS art_subject, C.message AS art_message
        FROM cms_teacher AS A
        LEFT JOIN cms_agency AS B ON A.agency_id=B.id
        LEFT JOIN cms_article AS C ON A.article_id=C.id
        WHERE A.id=#{id}
        ORDER BY A.ID DESC
        LIMIT 1
    </select>

    <!--
        根据教师编号获取对应的文章编号
    -->
    <select id="getByArticleId" parameterType="Long" resultType="Long">
        SELECT article_id
        FROM cms_teacher
        WHERE id=#{id} and deleted=0
        ORDER BY ID DESC
        LIMIT 1
    </select>

    <!--
        获得所有的教师信息
    -->
    <select id="getAll" resultMap="teacherDetailMap">
        SELECT
        <include refid="teacherColumns"/>, B.title, C.id as art_id
        FROM cms_teacher AS A
        LEFT JOIN cms_agency AS B ON A.agency_id=B.id
        LEFT JOIN cms_article AS C ON A.article_id=C.id
        ORDER BY A.top DESC, A.id DESC
        LIMIT 30
    </select>

    <!--
        保存老师信息
    -->
    <insert id="save" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_teacher
            (teacher_name, top, article_id, agency_id, image_url, deleted, created_date)
        VALUES
            (#{teacherName}, #{top}, #{article.id}, #{agency.id}, #{imageUrl}, 0, null)
    </insert>

    <!--
        彻底删除老师信息
    -->
    <delete id="delete">
        DELETE FROM cms_teacher
        WHERE deleted=1
    </delete>

    <!--
        更新老师信息
    -->
    <update id="update" parameterType="Teacher">
        UPDATE cms_teacher
        <set>
            <if test="teacherName != null and teacherName != ''">
                teacher_name=#{teacherName},
            </if>
            <if test="agency.id != null and agency.id != ''">
                agency_id=#{agency.id},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url=#{imageUrl},
            </if>
            <if test="top != null">
                top=#{top},
            </if>
            last_modified_date=null
        </set>

        WHERE id=#{id} AND deleted=0
    </update>

    <!--
        更新boolean字段
    -->
    <update id="updateBool" parameterType="Map">
        UPDATE cms_teacher
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

</mapper>