<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Teacher">
    <resultMap id="teacherDetailMap" type="Teacher">
        <id property="id" column="id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="introduction" column="introduction"/>
        <result property="articleId" column="article_id"/>
        <result property="agencyId" column="agency_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="deleted" column="deleted"/>
        <result property="createdDate" column="created_date"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
    </resultMap>

    <sql id="teacherColumns">id, teacher_name, article_id, agency_id, image_url, deleted, created_date, last_modified_date</sql>

    <!--
        根据编号获取教师信息
    -->
    <select id="getTeacher" parameterType="Long" resultMap="teacherDetailMap">
        SELECT
        <include refid="teacherColumns"/>
        FROM cms_teacher
        WHERE id=#{id} and deleted=0
        ORDER BY ID DESC
        LIMIT 1
    </select>

    <!--
        根据教师编号获取对应的文章编号
    -->
    <select id="getArticleId" parameterType="Long" resultType="Long">
        SELECT article_id
        FROM cms_teacher
        WHERE id=#{id} and deleted=0
        ORDER BY ID DESC
        LIMIT 1
    </select>

    <!--
        获得所有的教师信息
    -->
    <select id="getAllTeacher" resultMap="teacherDetailMap">
        SELECT
        <include refid="teacherColumns"/>
        FROM cms_teacher
        WHERE deleted=0
        ORDER BY ID DESC
        LIMIT 30
    </select>

    <!--
        保存老师信息
    -->
    <insert id="saveTeacher" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_teacher
            (teacher_name, article_id, agency_id, image_url, deleted, created_date)
        VALUES
            (#{teacherName}, #{articleId}, #{agencyId}, #{imageUrl}, 0, null)
    </insert>

    <!--
        彻底删除老师信息
    -->
    <delete id="deleteTeacher">
        DELETE FROM cms_teacher
        WHERE deleted=1
        LIMIT 500
    </delete>

    <!--
        更新老师信息
    -->
    <update id="updateTeacher" parameterType="Teacher">
        UPDATE cms_teacher
        <set>
            <if test="teacherName != null and teacherName != ''">
                teacher_name=#{teacherName},
            </if>
            <if test="agencyId != null and agencyId != ''">
                agency_id=#{agencyId},
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                image_url=#{imageUrl},
            </if>
        </set>
        last_modified_date=null
        WHERE id=#{id} AND deleted=0
    </update>

    <!--
        更新boolean字段
    -->
    <update id="updateTeacherBool" parameterType="Map">
        UPDATE cms_teacher
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

</mapper>