<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sdufe.cms.cn.im47.cms.common.dao.account.UserMapper">

    <resultMap id="userDetailMap" type="User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
        <result property="emailStatus" column="email_status"/>
        <result property="avatarStatus" column="avatar_status"/>
        <result property="photoURL" column="photo_url"/>
        <result property="timeOffset" column="time_offset"/>
        <result property="lastIP" column="last_ip"/>
        <result property="lastModifiedDate" column="last_modified_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="createdDate" column="created_date" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="deleted" column="deleted"/>
        <collection property="groupList" column="group_id" javaType="ArrayList" ofType="Group" columnPrefix="group_"
                    resultMap="cn.edu.sdufe.cms.cn.im47.cms.common.dao.account.GroupMapper.groupDetailMap"/>
    </resultMap>

    <!-- 获取用户数量 -->
    <select id="count" resultType="Long">
        SELECT COUNT( id )
        FROM cms_user
        LIMIT 1
	</select>

    <!-- 查询用户 -->
    <select id="get" parameterType="Long" resultMap="userDetailMap">
        SELECT U.id, U.group_id, email, username, PASSWORD , salt, STATUS , deleted,
        email_status, avatar_status, photo_url, time_offset, last_ip, last_time, last_act_time, created_date, last_modified_date,
        group_name as group_group_name, permission as group_permission
        FROM cms_user AS U
        LEFT OUTER JOIN cms_group AS G ON G.id = U.group_id
        LEFT OUTER JOIN cms_group_permission AS P ON P.group_id = G.id
        WHERE U.id =#{id}
    </select>

    <select id="getByEmail" parameterType="String" resultMap="userDetailMap">
        SELECT U.id, U.group_id, email, username, PASSWORD , salt, STATUS , deleted,
        group_name as group_group_name, permission as group_permission
        FROM cms_user AS U
        INNER JOIN cms_group AS G ON G.id = U.group_id
        INNER JOIN cms_group_permission AS P ON P.group_id = U.group_id
        WHERE email =#{email}
    </select>

    <!-- 获取所有用户 -->
    <select id="getAll" resultMap="userDetailMap">
        SELECT U.id, U.group_id, email, username, PASSWORD , salt,STATUS , deleted,
        email_status, avatar_status, photo_url, time_offset, last_ip, last_time, last_act_time, created_date, last_modified_date,
        group_name as group_group_name, 'user:list' as group_permission
        FROM cms_user AS U
        INNER JOIN cms_group AS G ON G.id = U.group_id
        ORDER BY ${sort} ${direction}
        LIMIT #{offset},#{limit}
    </select>

    <!-- 获取已标记为删除的用户id -->
    <select id="getDeletedUserId" resultType="Long">
        SELECT id
        FROM cms_user
        WHERE deleted=1
	</select>

    <!-- 更新用户 -->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cms_user (id, group_id, email, username, password, salt, status, email_status, avatar_status, photo_url, time_offset, last_ip, last_time, last_act_time, created_date, deleted)
        VALUES (#{id},#{groupId},#{email},#{username},#{password},#{salt},#{status},#{emailStatus},#{avatarStatus},#{photoURL},#{timeOffset},#{lastIP},#{lastTime},#{lastActTime},null,0)
	</insert>

    <!-- 更新用户 -->
    <delete id="deleteByTask">
        DELETE FROM cms_user
        WHERE deleted=1
	</delete>

    <!-- 更新用户 -->
    <update id="update" parameterType="User">
        UPDATE cms_user
        <set>
            <if test="email != null and email !=''">
                email=#{email},
            </if>
            <if test="groupList != null and groupId > 0">
                group_id=#{groupId},
            </if>
            <if test="username != null and username !=''">
                username=#{username},
            </if>
            <if test="password != null and password !=''">
                password=#{password},
            </if>
            <if test="salt != null and salt !=''">
                salt=#{salt},
            </if>
            <if test="emailStatus != null and emailStatus !=''">
                email_status=#{emailStatus},
            </if>
            <if test="avatarStatus != null and avatarStatus !=''">
                avatar_status=#{avatarStatus},
            </if>
            <if test="photoURL != null and photoURL !=''">
                photo_url=#{photoURL},
            </if>
            <if test="timeOffset != null and timeOffset !=''">
                time_offset=#{timeOffset},
            </if>
            <if test="lastIP != null and lastIP !=''">
                last_ip=#{lastIP},
            </if>
            <if test="lastTime != null and lastTime !=''">
                last_time=#{lastTime},
            </if>
            <if test="lastActTime != null and lastActTime !=''">
                last_act_time=#{lastActTime},
            </if>
            <if test="deleted != null and deleted !=''">
                deleted=#{deleted},
            </if>
            last_modified_date=null
        </set>
        WHERE id=#{id}
    </update>

    <!-- 更新用户bool字 -->
    <update id="updateBool" parameterType="map">
        UPDATE cms_user
        SET ${column}=1-${column}
        WHERE id=#{id}
    </update>

    <!-- 查询用户 -->
    <select id="search" parameterType="map" resultMap="userDetailMap">
        select *
        from cms_user
        <where>
            <if test="email != null">
                email=#{email}
            </if>
            <if test="username != null">
                and username=#{username}
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
            <if test="emailStatus != null">
                and email_status=#{emailStatus}
            </if>
        </where>
        order by ${Sort} ${Direction}
    </select>

</mapper>